@use "sass:list";

@for $i from 1 through 3 {
  .blinker-#{$i} {
    animation: continueBlink #{5 + $i}s linear #{5 + $i}s infinite;
  }
}

$continueBlinkChanges: ((46%, 1), (48%, 0), (50%, 1), (52%, 0), (54%, 1));
@keyframes continueBlink {
  @each $change in $continueBlinkChanges {
    #{list.nth($change, 1)} {
      opacity: list.nth($change, 2);
    }
  }
}
