@use "../abstracts/variables";
@use "../abstracts/breakpoints";

.contact-me {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;

  .form-container {
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-form {
      width: 100%;
      background: linear-gradient(to right, #000, variables.$backgroundColor);
      border: 1em solid variables.$primary;
      border-radius: 1em;
      padding: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include breakpoints.medium {
        width: 800px;
      }

      .form-control {
        width: 100%;
        margin: 1em;
        font-family: variables.$tertiaryFontStack;
        background: none;
        color: variables.$primary;
        border: none;
        border-bottom: 1px solid variables.$primary;
        font-size: 1rem;
      }
      .form-control::placeholder {
        color: #c5c5c5;
      }
      .form-control:focus {
        outline: none;
      }
      .form-control:focus::placeholder {
        color: variables.$primary;
      }
    }
    .contact-me-submit {
      background: none;
      color: variables.$primary;
      font-family: variables.$tertiaryFontStack;
      font-size: 1rem;
      font-weight: 500;
      border: 0.2em solid variables.$secondary;
      border-radius: 2em;
      padding: 0.8em;
      outline: none;
      transition: 0.5s;

      &:hover {
        background: variables.$secondary;
        border-color: variables.$primary;
        transform: scale(1.05);
        transition: 0.5s;
        cursor: pointer;
      }
    }
  }
}
