@use "../abstracts/variables";
@use "../abstracts/breakpoints";

.portfolio {
  min-height: 100vh;
  margin-bottom: 5em;

  .projects {
    display: grid;
    gap: 5em;
    overflow-x: hidden;

    @include breakpoints.medium {
      gap: 8em;
    }

    @include breakpoints.large {
      gap: 5em;
      grid-template-columns: 1fr 1fr;
    }

    .project.hidden {
      &:nth-child(odd) {
        .project-inner {
          translate: -100vw;
        }
      }
      &:nth-child(even) {
        .project-inner {
          translate: 100vw;
        }
      }
    }
    .project {
      .project-inner {
        transition: translate 0.5s linear;
        .project-title-container {
          display: flex;
          justify-content: center;
          align-items: center;
          .project-title {
            color: variables.$primary;
            font-family: variables.$secondaryFontStack;
            font-size: 3rem;
            font-weight: 400;
            border-bottom: 2px solid variables.$secondary;
          }
        }
        .project-image-container {
          max-width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-width: 100%;
          }
        }
        .project-description {
          color: white;
          font-family: variables.$tertiaryFontStack;
          font-size: 1.2rem;
          text-align: center;
          padding: 0 1em;
          line-height: 1.8em;

          @include breakpoints.small {
            margin: 0 1em;
          }
        }
        .tools-used {
          color: variables.$primary;
          font-family: variables.$tertiaryFontStack;
          font-size: 1.2rem;
          text-align: center;
          padding: 0.5em 1em;
          line-height: 1.8em;
        }
      }
    }
  }
}
